[submodule "jjb/global-jjb"]
	path = jjb/global-jjb
	url = https://github.com/lfit/releng-global-jjb
[submodule "lf-ansible"]
	path = lf-ansible
	url = https://github.com/lfit/releng-lf-ansible.git
[submodule "packer/common-packer"]
	path = packer/common-packer
	url = https://github.com/lfit/releng-common-packer.git
