# Ignore Vim temporary files
.*.sw?

# Ignore changes to the JJB Configuration File
jenkins.ini

# Maven
target/

# Vagrant
.vagrant

# IntelliJ
.idea/
*.iml

# Emacs
*~
\.\#*
\#*


# virtualenv for local testing when test jjb jobs
.venv
